
/* Houses with backyard starts  */
.backyard {
  color: #152c5b;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 15px;
}
.section1 {
  position: relative;
  margin-right: 4.8rem;
}
.btn6-text {
  position: absolute;
  top: 0px;
  left: 63.1%;
}
.btn6-text button {
  background: #ff498b;
  color: #ffff;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 0px 1px;
}
.span-para {
  padding-top: 1rem;
}
.span-para span {
  color: #152c5b;
  font-size: 17px;
  font-weight: bold;
  margin: 5rem 0rem;
}
.span-para p {
  color: #b0b0b0;
  font-weight: 14px;
}
.aggana-bogor {
  margin-right: 4.8rem;
}
.aggana-bogor span {
  color: #152c5b;
  font-size: 17px;
  font-weight: bold;
  margin: 5rem 0rem;
}
.aggana-bogor p {
  color: #b0b0b0;
  font-weight: 14px;
}
.seattle-jakarta {
  margin-right: 4.8rem;
}
.seattle-jakarta span {
  color: #152c5b;
  font-size: 17px;
  font-weight: bold;
  margin: 5rem 0rem;
}
.seattle-jakarta p {
  color: #b0b0b0;
  font-weight: 14px;
}

.wooden-wonosobo span {
  color: #152c5b;
  font-size: 17px;
  font-weight: bold;
  margin-top: 4rem;
}
.wooden-wonosobo p {
  color: #b0b0b0;
  font-weight: 14px;
}
/* Houses with backyard ends  */

/*House details Second page starts */


.house-span {
  color: #152c5b;
  font-size: 18px;
}
.resort-rio h3 {
  color: #152c5b;
  font-size: 42px;
  font-weight: bold;
}

.homes {
  gap: 9.7rem;
}

.home2 {
  margin-bottom: 10px;
}
/*House details Second page ends */

/* Footer starts  */
.network {
  padding-left: 6rem;
}
.social-handle {
  padding-right: 6rem;
}
.footer-div {
  font-family: none;
}

/* Footer ends  */

/* About the place starts */

.aboutplace h3 {
  color: #152c5b;
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5rem;
}
.abouttheplace p {
  color: #b0b0b0;
  font-size: 17px;
}

.bedroom,
.mbp-wifi {
  margin-left: 5rem;
  padding-right: 3rem;
}
.livingroom,
.ic-units {
  padding-right: 3rem;
}
.bathrooms,
.refrigerators {
  padding-right: 3rem;
}
.ic-digit {
  color: #152c5b;
  font-weight: 600;
}
.ic-rooms {
  color: #b0b0b0;
}

.youpay {
  color: #b0b0b0;
  font-size: 18px;
}
.usd {
  color: #000000;
  font-weight: bold;
}

.families,
.family-pic {
  border-radius: 1rem 1rem 8rem 1rem;
}

.booking-btn {
  margin: 2.5rem 0;
  text-align: center;
  justify-content: center;
}
.booking-1 {
  width: 40px;
  height: 35x;
  border-radius: 50%;
  border: none;
  padding: 7px;
  background-color: #e5e5e5;
}
.book1 {
  border-radius: 50%;
  padding: 7px;
  border: 2px solid #898989;
  width: 40px;
  height: 40px;
}
.horizontal-line {
  width: 5%;
  padding-top: 4px;
}
.booking {
  text-align: center;
}
.booking h3 {
  font-size: 42px;
  font-weight: bold;
  color: #152c5b;
}
.booking p {
  padding-bottom: 2.5rem;
  font-size: 17px;
  color: #b0b0b0;
}

.booking-btn2 {
  margin: 0 10px;
}
.vertical-line {
  width: 1px;
  height: 22rem;
  background-color: #b0b0b0;
  margin: 0 60px;
}

.cashvil-span {
  color: #152c5b;
  font-size: 17px;
  font-weight: bold;
  margin-top: 4rem;
}
.kemang {
  color: #b0b0b0;
  font-weight: 14px;
  display: block;
}
.usdfor {
  margin-left: 9rem;
  margin-top: 1rem;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}
.two-night {
  color: #b0b0b0;
  font-weight: 200;
}
.names {
  color: #000000;
  font-size: 17px;
  font-weight: 600;
}
.text-name input {
  width: 150%;
  height: 140%;
  background-color: #f5f6f8;
}
.enter-text {
  margin: 7px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: none;
}
.continue-book {
  margin-top: 1rem;
  margin-bottom: 4rem;
  text-align: center;
  justify-content: center;
}
.submit-book {
  background: #3252df;
  color: #ffff;
  font-size: 18;
  border: none;
  width: 20%;
  padding: 8px 10px;
  margin-top: 3rem;
  border-radius: 4px;
}
.cancel {
  background: #f5f6f8;
  color: #b2b2b2;
  font-size: 18;
  border: none;
  width: 20%;
  padding: 8px 10px;
  margin-top: 18px;
  border-radius: 4px;
}
*/
/* Booking information ends  */

/* payment slip starts */

.payment-usd {
  padding-right: 4rem;
}
.check {
  width: 40px;
  height: 35x;
  border-radius: 50%;
  border: none;
  padding: 6px;
  color: #e5e5e5;
}
.mark-1 {
  background-color: #1abc9c;
}
.mark-2 {
  border: 2px solid #898989;
  background-color: #e5e5e5;
  color: #898989;
}
.mark-3 {
  background-color: #e5e5e5;
  color: #898989;
}
.transfer,
.tax {
  color: #000000;
  font-size: 18px;
}
.tax,
.total {
  font-size: 14px;
}
.usd {
  font-weight: 600;
}
.bank {
  padding-left: 1rem;
}
.tesla-span {
  margin-left: 5rem;
}

